body {
  background: linear-gradient(#141414, #323232);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  height: 100dvh;
}

main {
  margin: 2%;
  padding: 0.5%;
  text-align: center;
  justify-content: center;
  display: grid;
}

footer {
  bottom: 0;
  width: auto;
}

input {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.type-effect {
  height: fit-content;
  width: fit-content;
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

.beg {
  opacity: 0.25;
}

.spacer {
  margin-top: 4%;
}

.max-width {
  max-width: 75px !important;
}

.msg-min-width {
  min-width: 300px !important;
}

.font-italic {
  font-style: italic !important;
}

#donate-button-container {
  margin: 1em;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}